<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pablo Torres</title>
  </head>

  <body>
    <header class="header__contenedor">
      <div class="contenedor header-grid">
        <h1 class="H1_white">HOLOMAKER</h1>
        <h1 class="H1_blue">HOLOMAKER</h1>
        <!-- <h2>Let me see the hologram inside your head to make it real.</h2> -->
        <h3 class="name">Ing. Pablo Torres Pérez</h3>
        <div
          class="flex flex-col lg:items-end lg:justify-end md:items-center md:justify-end contenido-header"
        >
          <a
            href="https://drive.google.com/file/d/1Fm-CunJFUjqZHW3NNnzzhEzqczmgK7LN/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="flex justify-center hover:bg-sky-600 hover:text-cyan-200 bg-transparent rounded-lg border border-cyan-400 w-96"
            >
              <h4>Ver CV</h4>
            </button>
          </a>

          <a
            href="https://drive.google.com/file/d/1lbXIBv9dtQLJtjg3bovac8e-uGNgw7Zx/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="flex justify-center hover:bg-sky-600 hover:text-cyan-200 bg-transparent rounded-lg border border-cyan-400 w-96"
            >
              <h4>Resume</h4>
            </button>
          </a>

          <a
            href="https://www.linkedin.com/in/pablo-t-9009ba140"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="flex justify-center hover:bg-sky-600 hover:text-cyan-200 bg-transparent rounded-lg border border-cyan-400 w-96"
            >
              <h4>Linked in</h4>
            </button>
          </a>

          <a
            href="https://issuu.com/holomaker/docs/portfoliofotos.pptx"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              class="flex justify-center hover:bg-sky-600 hover:text-cyan-200 bg-transparent rounded-lg border border-cyan-400 w-96"
            >
              <h4>Web portfolio</h4>
            </button>
          </a>

          <a href="">
            <button
              class="flex justify-center hover:bg-sky-600 hover:text-cyan-200 bg-transparent rounded-lg border border-cyan-400 w-96"
            >
              <h4>Mechatronics</h4>
            </button>
          </a>

          <!-- <a href="" target="_blank" rel="noopener noreferrer">portafolio mecatrónico</a> -->

          <!-- <a href="#">Ver portafolio diseños mecatrónicos</a> -->
        </div>
      </div>
    </header>
    <main></main>
    <footer>
      <p class="footer">Made width Angular by Pablo Torres Pérez - 2023</p>
    </footer>
  </body>
</html>
