<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>holo</title>
</head>

<body>
    <header class="header__contenedor">
        <div class="contenedor header-grid">
            <h1 class="H1_white">HOLOMAKER</h1>
            <h1 class="H1_blue">HOLOMAKER</h1>
            <h3 class="name">Pablo Torres</h3>
            <div class="contenido-header">

                <a href="https://issuu.com/holomaker/docs/portfoliofotos.pptx" target="_blank" rel="noopener noreferrer">Ver portafolio WEB</a>
                <a href="https://drive.google.com/file/d/1l8nNqFwGxCU1OM7LbEA9PTpbb8EACm8a/view?usp=sharing" target="_blank" rel="noopener noreferrer">Ver CV</a>
                <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BmNscHuaKRWC1wG7zoqJE6A%3D%3D" target="_blank" rel="noopener noreferrer">Linked in</a>
                <!-- <a href="#">Ver portafolio diseños mecatrónicos</a> -->
            </div>
        </div>
    </header>
</body>

</html>
