<div class="h-screen bg-[#0A0A0F]">
  <div class="flex w-fit bg-[#0A0A0F]">
    <a routerLink="/">
      <button
        type="button"
        class="m-10 text-blue-700 border border-[#00C0FE] hover:bg-[#00C0FE] hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg p-2.5 text-center inline-flex items-center mr-2 dark:border-[#00C0FE] dark:text-[#00C0FE] dark:hover:text-white dark:focus:ring-[#00C0FE] dark:hover:bg-[#00C0FE]"
      >
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>
    </a>
  </div>
  <div
    class="flex flex-col gap-5 w-full md:h-screen bg-[#0A0A0F] lg:flex-row md:flex-row md:gap-0"
  >
    <div class="m-5 lg:ml-20">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="https://pablotp2122.github.io/todoAppTllo/">
          <img
            class="rounded-t-lg w-96 h-64"
            src="../../../assets/ClonTrello.jpg"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="https://pablotp2122.github.io/todoAppTllo/">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Clon de Trello
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Desarrollado con Angular CDK y tailwind.
          </p>
          <a href="https://pablotp2122.github.io/todoAppTllo/">
            <button
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Ver Proyecto
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="m-5">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a class="cursor-not-allowed" href="#">
          <img
            class="rounded-t-lg w-96 h-64"
            src="../../../assets/TiendaOnlineYardSale.jpg"
            alt=""
          />
        </a>
        <div class="p-5 cursor-not-allowed">
          <a class="cursor-not-allowed" href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Online Yard sale
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Desarrollado con Angular, HTML, CSS y TS. Se utilizó sistema de
            diseño y Figma.
          </p>
          <a href="#">
            <!-- <button
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Ver tienda
              </span>
            </button> -->
            <button
              type="button"
              class="text-white bg-blue-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              disabled
            >
              Ver tienda
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="m-5">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="https://issuu.com/holomaker/docs/portfoliofotos.pptx">
          <img
            class="rounded-t-lg w-96 h-64"
            src="../../../assets/Portfolio.jpg"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="https://issuu.com/holomaker/docs/portfoliofotos.pptx">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Portafolio
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Proyectos 2022.
          </p>
          <a href="https://issuu.com/holomaker/docs/portfoliofotos.pptx">
            <button
              class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Ver Proyectos en issuu
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
